@import url('https://fonts.googleapis.com/css2?family=Epilogue&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}
:root{
    --lmost-white: hsl(0, 0%, 98%);
    --medium-gray: hsl(0, 0%, 41%);
    --almost-black: hsl(0, 0%, 8%);
}

body{
    font-family: 'Epilogue', sans-serif;
}

p{
    font-size: 18px;
}
.nav__container{
    width: 90%;
    background-color: red;
    margin: 0 auto;
    overflow: hidden;
    max-width: 1200px;
}
nav{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav__burger{
    width: 30px;
    height: 50px;
    background-image: url("./images/icon-menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    z-index: 100;
    transition: background-image .3s;
}
.nav__burger--open{
    background-image: url('./images/icon-close-menu.svg') ;
}
.nav__overlay{
    background-color: #000000a7;
    position: fixed;
    inset: 0;
}
.nav__menu{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #fff;
    width: 65%;
    max-width: 400px;
    overflow: auto;
    padding: 70px 0;
}
.nav__item{
    width: 80%;
    margin: 0 auto;
    cursor: pointer;
}

.nav__item img{
    margin-right: 10px;
}
.nav__item a{
    color: var(--almost-black);
}
.nav__menu--dropdown{
    padding: 10px 0;
    overflow: hidden;
    height: 0;
    transition: height .4s;
}
.dropdown{
    height: 100%;
}
.nav__menu--dropdown > li,
.nav__item--last {
    padding: 10px 0;
}
[login]{
    margin-top: 25px;
}
.nav__item--user{
    text-align: center;
    padding: 15px;
}
/* .nav__item--user:hover{
    border: 1px solid var(--almost-black);
    border-radius: 15px;
} */
[register]{
    border: 1px solid var(--almost-black);
    border-radius: 15px;
}