@import url('https://fonts.googleapis.com/css2?family=Epilogue&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
}
:root{
    --lmost-white: hsl(0, 0%, 98%);
    --medium-gray: hsl(0, 0%, 41%);
    --almost-black: hsl(0, 0%, 8%);
}

body{
    font-family: 'Epilogue', sans-serif;
}

p{
    font-size: 18px;
}
.nav__container{
    width: 90%;
    background-color: red;
    margin: 0 auto;
    overflow: hidden;
    max-width: 1200px;
}
nav{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav__burger{
    width: 30px;
    height: 50px;
    background-image: url("./images/icon-menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}